body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.job-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.job-header {
    display: flex;
    align-items: center;
}

.job-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.job-info h3 {
    margin: 0;
}

.new, .featured {
    background-color: #5ba4a4;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 0.9em;
}

.new {
    background-color: #5ba4a4;
}

.featured {
    background-color: #2c3e50;
}

.job-details {
    display: flex;
    margin: 10px 0;
    color: #7a8b92;
}

.job-details span {
    margin-right: 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    background-color: #eef6f6;
    color: #5ba4a4;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
}








.attribution { 
    font-size: 11px;
     text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
}